<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>erro.ejs</title>
</head>

<body>
    <%- include('partials/header') %>

        <h2>Erro</h2>
        <p style="color: red;">
            <%= mensagemErro %>
        </p>
        <a href="/form">
            <button type="button">Voltar</button>
          </a>
        <%- include('partials/footer') %>

</body>

</html>