<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.ejs</title>
</head>
<body>
    <%- include('partials/header') %>

    <h2><%= title %></h2>
    <p>Este é o template inicial do projeto com EJS.</p>
    
    <%- include('partials/footer') %>
</body>
</html>