<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Este é um site de exemplo feito com Node.js, Express e EJS.</p>
    <p>Nosso objetivo é demonstrar o uso de Server-Side Rendering com dados dinâmicos.</p>
    <p>Desenvolvido por: <strong>Jhonatan Luksik</strong></p>
</body>
</html>
